.viewDinamic {
  display: flex;
  padding: 20px;



  .towerButtons {
    display: flex;
    gap: 5px;

    .building {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;

    }
  }

}