* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}


body {
  font-family: 'Roboto', sans-serif;
  background-color: #211948;
  //background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTt2JKbZnt_4c7B78rCPEmaz5PaqTZEK6P0NUFK1sWldw&s');
  //background-size: 100%;
}

ul,
ol {
  list-style: none;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}